$darkblue: #4339A3;
$red: #D3321C;

.alarm-form {
  background: gray;
  color: black;
  #alarm-btn {
    background: $darkblue;
    color: white;
  }
  .alarm {
    color: black;
  }
}
.snooze {
  display: none;
}
